body {
  margin: 0mm;
  padding: 0mm;
}
.flex-container {
  display: flex;
  justify-content: space-around;

}

.flex-container-list {
  display: flex;
  justify-content: start;
  width:  25%;
}


.flex-container-search {
  display: flex-end;
  justify-content: end;
}


.flex-container-nav {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  height: 100vh;
  width: 40vh;
  background-color: black;
}

.flex-container-nav-list {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: 100vh;
  width: 35vh;
  background-color: black;
  color: aliceblue;
}

.flex-container-section-wrap {
  display: flex;
  height: 100vh;
  background-color: gainsboro;
}

.flex-container-section {
  display: flex;
  height: 100vh;
  background-color: gainsboro;
}

.flex-container-list-page {
  display: flex;
  justify-content: space-around;
}

.temp {
  text-rendering: optimizeLegibility;
  background-color: black;
}

strong {
  display: inline;
}

.niche {
  flex-direction: column;
  height: 100vh;
  display: flex;
  width: 5vh;
}