{% load static %}
<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    {% block title %}
    <!--타이틀-->
    {% endblock title %}
</head>

<body>
    <header class="flex-header-container">
        <div class="flex-container-list">
            <button class="flex-item" onclick="location.href='{% url "memo:homelist"%}'"></button>
            <button class="flex-item" onclick="location.href='{% url "memo:list"%}'"></button>
        </div>
        <div class="flex-container-1">
            <button class="flex-item"></button>
            <button class="flex-item"></button>
            {% comment %} 삭제버튼 {% endcomment %}
            <button class="flex-item" type="submit" form="delete"></button>
            {% comment %} 수정버튼 {% endcomment %}
            <button class="flex-item" type="submit" form="memosave"></button>
        </div>
        <div class="flex-container-2">
            <button class="flex-item"></button>
            <button class="flex-item"></button>
            <button class="flex-item"></button>
            <button class="flex-item"></button>
        </div>
        <div class="flex-container-search">
            <button class="flex-item"></button>
            {% comment %} 생성 버튼 {% endcomment %}
            <button class="flex-item" onclick="location.href='/memo/create'"></button>
            {% comment %} 로그아웃버튼 {% endcomment %}
            <button class="flex-item" onclick="location.href='/logout'"></button>
            <input type="search" name="search" value="검색" id="">

        </div>
        <div>
            {% if user.nickname %}
            {{user.nickname}}님이 사용중
            {%else%}
            {{user.username}}님이 사용중
            {% endif %}
        </div>
    </header>
    {% block content %}
    <!--본문-->
    {% endblock content %}
    <script>
        // 900px 3-2버튼 -> 845px 4-3버튼 -> 800px 4-1버튼 -> 745px 3-4버튼 -> 700px 3-3버튼 -> 660px 검색창 -> 480 미니멀
        // 삭제 코드
        // var re = document.getElementsByClassName("flex-container-list")[0];
        // var move = document.getElementsByClassName('flex-item')[0];
        // move.parentNode.removeChild(move);

        function printName() {
            var memoTitle = getElementById("id_contents").value;
            console.log(memoTitle);
        };
    </script>
</body>

</html>