{% extends 'base.html' %}

{% block title %}
<title>HOME</title>
{% endblock title %}

{% block content %}

    <a href = "/logout">로그아웃</a><br>
    별명 : {{user.nickname}} 님이 로그인중<br>
    ID : {{user.username}} 님이 로그인중<br>

<section class="flex-container-section-wrap">
    <nav class="flex-container-nav">
        <div class="flex-container-nav-list">
            목록출력
                    
            {%for memo in memolist%}
                
                <h3>제목 : {{memo.memoNUM.title}}</h3>
                <p>내용 : {{memo.memoNUM.contents}}</p>
                유저 : {{memo.userNUM}}<br>
                작성일시 : {{memo.memoNUM.memodate}}<br>
                {% comment %} 작성번호 : {{memo.memoNUM.pk}}<br> {% endcomment %}

                
            {% endfor %}
        </div>
    </nav>
    <article class="flex-container-section-wrap">
        <div class="flex-container-section">
            내용출력

            <form method="post">
                {% csrf_token %}
                    {{form.as_p}}
                <input type="submit" value="메모저장">
            </form>
        </div>
    </article>
</section>
{% endblock content %}