{% extends 'base.html' %}

{% block title %}
<title>HOME</title>
{% endblock title %}

{% block content %}
<section class="flex-container-section-wrap">
    <nav class="flex-container-nav">
        <div class="niche">dd</div>
        <div class="flex-container-nav-list">
            {%for memo in memolist%}

            <h4>제목 : {{memo.memoNUM.title}}</h4>
            <strong>{{memo.memoNUM.memodate}}</strong>
            <strong>{{memo.memoNUM.memodate | date:'A H:i' }}</strong>
            {{memo.memoNUM.contents}}

            {% endfor %}
        </div>
    </nav>
    <article class="flex-container-section-wrap">
        <div class="flex-container-section">
            내용출력
        </div>
    </article>
</section>
{% endblock content %}