{% extends 'base.html' %}

{% block title %}
<title>HOME</title>
{% endblock title %}

{% block content %}
<section class="flex-container-section-wrap">
    <nav class="flex-container-nav">
        <div class="flex-container-nav-list">
            {%for memo in memolist%}
            <div class="menu-block">
                <!--{{memo.memoNUM.memodate}}<br>-->
                <a href= "?pk={{memo.memoNUM.pk}}">

                    {{memo.memoNUM.title | truncatechars:20}}
                    <h1 style="font-weight: bold;">{{memo.memoNUM.contents | truncatechars:20}}</h1>
                    {{memo.memoNUM.memodate | date:'A H:i' }}

                </a>
            </div>
            {% endfor %}

        </div>
    </nav>
    <article class="flex-container-section-wrap">
        <div class="flex-container-section">
            <div>
                {% if pk_memodate %}
                    저장일시 : {{pk_memodate}}<br>
                    수정일시 : {{pk_memoupdate}}
                {% else %}
                    현재시각 : {{now}}
                {% endif %}

                <a href="/logout">로그아웃</a>
            </div>
        
            {% comment %} 내용출력 {% endcomment %}
            
            <form method="post" id="memosave">
                {% csrf_token %}
                {{form.contents}}
                {% comment %} <input type="submit" value="메모저장"> {% endcomment %}
                <input type="hidden" name="pk" value="{{pk}}">
            </form>
        </div>
    </article>
</section>
{% endblock content %}