{% load static %}
<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <title>Login</title>
</head>

<body class="login-body">
    {% comment %} /* Change autocomplete styles in WebKit */ {% endcomment %}
    <div class="login-container">
        <form method="POST" action="" class="frame-form">
            {% csrf_token %}
            <fieldset class="login-fieldset">
                <form method="POST" class="login-form">
                    {% csrf_token %}
                    {% for field in form %}
                    <div class="login-area">
                        <div style="color: white; font-family: Geogia;">{{field.label}}</div><div class="login-input-area">{{field}}</div>
                    </div>
                    {% endfor %}
                    <div class="button-container">
                        <button type="submit" value="login">Login</button>
                        <button type="button" onclick="location.href='{% url "signup" %}'" value="Sign up">Sign up</button>
                    </div>
                </form>
                <div class="allauto-container">
                    {% load socialaccount %}
                    {% providers_media_js %}
                    <a href="{% provider_login_url "google" %}">구글로 계속하기</a>
                    <a href="{% provider_login_url "naver" %}">네이버로 계속하기</a>
                    <a href="{%url 'kakaosignin' %}">카카오로 계속하기</a>
                </div>

            </fieldset>
        </form>
    </div>
</body>

</html>